<template>
<div>
    <router-view/>
</div>   
</template>
<script src="./assets/js/vendor/modernizr-2.8.3.min.js"></script>

<!-- jQuery JS -->
<script src="./assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="./assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="./assets/js/vendor/bootstrap.min.js"></script>

<!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->


<script src="./assets/js/plugins/plugins.min.js"></script>


<!-- Main JS -->
<script src="./assets/js/main.js"></script>
<script type="text/javascript">
export default{
    
}
</script>
<style>
@import './assets/css/vendor/vendor.min.css';
@import './assets/css/plugins/plugins.min.css';
@import './assets/css/style.css';
</style>
