<template>
    <div class="row no-gutters">
      <div class="col-lg-2 col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Главная</a>
                </li>
                <li class="nav-item">
                  <router-link :to="{name:'category'}"><a class="nav-link" href="javascript:void(0)">Категории</a></router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{name:'product'}"><a class="nav-link" href="javascript:void(0)">Добавить товары</a></router-link>
                </li>
                <!--
                <li class="nav-item">
                  <router-link :to="{name:'listProducts'}"><a class="nav-link" href="javascript:void(0)">Товары</a></router-link>
                </li>
                -->
                <li class="nav-item">
                   <router-link :to="{name:'bookings'}"><a class="nav-link " href="javascript:void(0)" >Заказы</a></router-link>
                </li>
                <li class="nav-item">
                   <a class="nav-link " href="javascript:void(0)" @click="logout">Выйти</a>
                </li>
              </ul>
          </div>
        </nav>
    </div>
    <div class="offset-lg-1 col-lg-9" style="padding:2rem">
      <router-view/>
    </div>
   </div>
</template>
<script type="text/javascript">

export default{
    created(){
        console.log('fds')
    },
    methods:{
      logout(){
        localStorage.removeItem('expires_in')
        localStorage.removeItem('access')
        localStorage.removeItem('role')
        localStorage.removeItem('tokent_type')
        localStorage.removeItem('access_token')
        window.location.replace('http://shop.sadik-bolashak.kz/')
      }
    }
}
</script>

<style scoped>

.nav-inactive{
    color: #333;
    font-weight:500
}
</style>

