<template>
    <div>
        <v-client-table :columns="columns" v-model="orders" :options="options">
            <div slot="products" slot-scope="props">
            <table>
                <thead style='border:1px solid red !important'>
                <tr style="border:1px solid blue !important">
                    <td>Категория</td>
                    <td>Товар</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td>Общяя цена</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for='(product,index) in props.row.products' :key='index'>
                    <td>{{product.category}}</td>
                    <td>{{product.product}}</td>
                    <td>{{product.count}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.count*product.price}}</td>
                </tr>
                </tbody>
            </table>
            <h6>Общее:{{productsPrice(props.row.products)}}</h6>
            </div>
        </v-client-table>
    </div>
</template>
<script>
export default {
   data(){
       return{
           orders:[],
           columns: ['fullname', 'phone', 'address','products'],
           options: {
                headings: {
                    fullname: 'ФИО',
                    phone: 'Телефон',
                    address: 'Адресс',
                    products:'Товары'
                },
                sortable: ['fullname', 'phone','address','products'],
                filterable: ['fullname', 'phone','address','products']
            }
       }
   },
   methods:{
       setup(){
           this.$http.get('/api/admin/bookings').then(response=>{
               this.orders=response.body.data.booking
           })
       },
       productsPrice(products){
           var price=0
           products.forEach(element => {
               price=price+(element.count*element.price)
           });
           return price
       }
   },
   created(){
       this.setup()
   }
}
</script>
