<template>
<div class='row'>
    <div class="col-lg-5">
        <label for="exampleInputEmail1">Имя категории</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" :value="getCategory" @input="updateCategory">
    </div>
    
    <div class="col-lg-3" style='margin-top:2rem'>
         <button type="submit" class="btn btn-primary" @click.prevent='send'>Сохранить</button>
    </div>

    <div class="col-lg-10 table-responsive mt-5" >
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col" style="width:5%">#</th>
                <th scope="col" style="width:35%">Имя категории</th>
                <th scope="col" style="width:60%">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category,index) in getCategories" :key='index'>
                <th scope="row" >{{index+1}}</th>
                <td>{{category.name}}</td>
                <td class="flex">
                    <button type="button" class="btn btn-info" @click="showProducts(category.id)">Посмотреть товары</button>
                    <button type="button" class="btn btn-primary" @click="editCategory(category)">Изменить</button>
                    <button type="button" class="btn btn-danger" @click="deleteCategory(category)">Удалить</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>
import { mapGetters } from "vuex";
import editCategory from '../components/category/editCategory.vue'
export default {
    computed: mapGetters(["getCategory","getCategories"]),
    methods:{
        send(){
            this.$store.dispatch("newCategory",{category:this.getCategory})
        },
        updateCategory(event){
            this.$store.commit('updateCategory', event.target.value)
        },
        editCategory(category){
            this.$modal.show( editCategory, {
					category: category
				}, {
                    draggable: false,
                    height: 'auto',
                    width: '50%',
                    pivotY: 0.2,
                    clickToClose: true,
                    scrollable: true,
                    draggable: false
                },{
                    'closed':(event)=>{
                        this.$store.dispatch("getCategories")
                    }
                }) 
        },
        deleteCategory(category){
            this.$store.dispatch('deleteCategory',{category:category})
        },
        showProducts(id){
            this.$router.push({name:'listProducts',params:{id}})
        }

    },
    created(){
        this.$store.dispatch("getCategories")
    }
}
</script>