<template>
    <div class="row">
        <div class='col-lg-12' v-if='getProducts.length>0'>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width:5%">#</th>
                            <th scope="col" style="width:15%">Товар</th>
                            <th scope="col" style="width:10%">Категория</th>
                            <th scope="col" style="width:5%">Количество</th>
                            <th scope="col" style="width:10%">Цена</th>
                            <th scope="col" style="width:5%">Скидка</th>
                            <th scope="col" style="width:10%">Цена со скидкой</th>
                            <th scope="col" style="width:10%">Фото товара</th>
                            <th scope="col" style="width:30%">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(product,index) in getProducts" :key='index'>
                            <th scope="row">{{index+1}}</th>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.count}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.discount}}</td>
                            <td>{{product.price_discount}}</td>
                            <td><a href="javascript:void()" @click="openImage(product)">Посмотреть</a></td>
                            <td class="flex">
                                <button type="button" class="btn btn-primary" @click="editProduct(product.id)">Изменить</button>
                                <button type="button" class="btn btn-danger" @click="deleteProduct(product)">Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <vue-easy-lightbox
                escDisabled
                moveDisabled
                :visible="visible"
                :imgs="imgs"
                :index="0"
                @hide="handleHide"
            ></vue-easy-lightbox>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    data(){
        return{
            category:'',
            visible:false,
            imgs : []
        }
    },
    computed: mapGetters(["getProductsByCategory","getCategories","getProducts"]),
    methods:{
        openImage(product){
            
            product.images = product.images.map(element => {
                return '/images/'+element
            });
            this.imgs = product.images
            this.visible = true
        },
        handleHide(){
            this.visible = false
        },
        editProduct(id){
            this.$router.push({name:'editProduct',params:{id}})
        },
        deleteProduct(product){
            this.$store.dispatch('deleteProduct',{product:product})
        }

    },
    created(){
        this.$store.dispatch("getProductsByCategory",{category:this.$route.params.id})
    }
}
</script>