<template>
    <body class="">
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title">Ваша корзина</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            
                            <ul class="breadcrumb-list text-center text-sm-right">
                                <li class="breadcrumb-item"><router-link :to="{name:'main'}">Вернуться на главную страницу</router-link></li>
                                <!--<li class="breadcrumb-item active">Wishlist</li>-->
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="main-wrapper">
        <div class="site-wrapper-reveal border-bottom">

            <!-- cart start -->
            <div class="cart-main-area  section-space--ptb_90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="#">
                                <div class="table-content table-responsive cart-table-content header-color-gray" >
                                    <table>
                                        <thead style="padding:1rem">
                                            <tr class="bg-gray">
                                                <th></th>
                                                <th style="width:20%">Картинка</th>
                                                <th class="product-name" style="width:25%">Товар</th>
                                                <th style="width:20%">Категория</th>
                                                <th class="product-price" style="width:10%"> Цена</th>
                                                <th style="width:15%">Количество</th>
                                                <th style="width:15%">Общее</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(product,index) in products" :key='index'>

                                                <td></td>
                                                <td class="product-img">
                                                    <a href="javascript:void(0)"><img :src="'/images/'+product.images[0]" alt="" style="width:100px;height:100px"></a>
                                                </td>
                                                <td class="product-name"><a href="javascript:void(0)">{{product.name}}</a></td>
                                                <td ><a href="javascript:void(0)">{{product.category}}</a></td>

                                                <td class="product-price"><span class="amount">{{product.price_discount}}</span></td>

                                                <td class="cart-quality">
                                                    <div class="quickview-quality quality-height-dec2">
                                                        <div class="cart-plus-minus">
                                                            <div class="dec qtybutton" @click="minusCount(product)">-</div>
                                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" :value="product.user_product_count">
                                                            <div class="inc qtybutton" @click="plusCount(product)">+</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="price-total">
                                                    <span class="amount">{{product.price_discount*product.user_product_count}}</span>
                                                </td>
                                                <td class="product-remove">
                                                    <a href="javascript:void()" @click='removeProduct(index)'><i class="icon-cross2"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="cart-buttom-area">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="discount-code section-space--mt_60">
                                            <h6 class="mb-30">Введите ваши контакты</h6>
                                            <!--<p>Enter your coupon code if you have one.</p>-->
                                            <input type="text"  placeholder="Ваше имя" v-model="user.name">
                                        </div>
                                        <div class="discount-code">
                                            <!--<p>Enter your coupon code if you have one.</p>-->
                                            <input type="text"  placeholder="Ваш телефон" v-model='user.phone'>
                                        </div>
                                        <div class="discount-code">
                                            <!--<p>Enter your coupon code if you have one.</p>-->
                                            <input type="text"  placeholder="Ваш адресс" v-model="user.address">
                                            <button class="coupon-btn btn btn--lg btn--border_1" type="button" @click.prevent='send' >Отправить</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cart_totals ml-md-auto section-space--mt_60">
                                            <div class="grand-total-wrap">
                                                <div class="grand-total-content">
                                                    <ul>
                                                        <li>Общее <span>{{totalPrice}} тг</span> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- cart end -->

        </div>

        <!--====================  footer area ====================-->
        <div class="footer-area-wrapper reveal-footer bg-gray" style="position:relative">
            <div class="footer-area section-space--ptb_90">
                <div class="container-fluid container-fluid--cp-100">
                    <div class="row footer-widget-wrapper">
                        <div class="col-lg-3 col-md-3 col-sm-6 footer-widget">
                            <div class="footer-widget__logo mb-20">
                                <a href="#"><img src="../assets/images/logo/logo.svg" alt=""></a>
                            </div>
                            <ul class="footer-widget__list">
                                <li><i class="fas fa-map-marker-alt"></i> Алматы 2021</li>
                                <li><i class="fas fa-phone-alt"></i><a href="tel:846677028028" class="hover-style-link">+777 777 77 77</a></li>

                            </ul>
                            
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6 footer-widget">
                            <ul class="list footer-social-networks mt-25">

                                <li class="item">
                                    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 footer-widget">
                            <h6 class="footer-widget__title mb-20">Письмо</h6>
                            <div class="footer-widget__newsletter mt-30">
                                <input type="text" placeholder="Напишите нам письмо">
                                <button class="submit-button"><i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>

</template>
<script>
var CryptoJS = require("crypto-js");
const Swal = require('sweetalert2')
import router from '../router/index'
export default {
    data(){
        return{
            products:[],
            user:{
                name:'',
                phone:'',
                address:''
            }
        }
    },
    computed:{
        totalPrice:function(){
            var total=0
            this.products.forEach(element => {
                total=total+(element.price_discount*element.user_product_count)
            });
            return total
        }
    },
    methods:{
        minusCount(product){
            if(product.user_product_count>0){
                product.user_product_count--
                this.save()
            }
        },
        plusCount(product){
            product.user_product_count++
            this.save()
        },
        removeProduct(index){
            this.products.splice(index,1)
            this.save()
        },
        save(){
            var to_basket = CryptoJS.AES.encrypt(JSON.stringify(this.products),'to_basket');
            localStorage.setItem('products',to_basket)
        },
        send(){
            this.$http.post('/api/send-order',{user:this.user,products:this.products}).then(
                response=>{
                    if(response.body.success){
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Ваша заявка принята. С вами свяжутся в течении 10 минут',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        router.push({name:'main'})
                        localStorage.removeItem('products')
                    }else{
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: response.body.message,
                            showConfirmButton: false,
                            timer: 3000
                        })
                    }
                }
            )
            
        }
    },
    created(){
        if(localStorage.getItem('products')!==null){
            var basket = JSON.parse(
                CryptoJS.AES.decrypt(
                    localStorage.getItem("products"),
                    'to_basket'
                ).toString(CryptoJS.enc.Utf8)
            );
            this.products=basket
        }
    }
}
</script>
