<template>
<div>
    <div class="header-area header-area--default bg-white">

        <!-- Header Bottom Wrap Start -->
        <header class="header-area header_absolute header_height-90 header-sticky" style="position:fixed;background:#f1f1f1">
            <div class="container-fluid container-fluid--cp-100">
                <div class="row align-items-center">

                    <div class="col-lg-3 col-lg-3 col-6">
                        <div class="logo text-left">
                            <a href="#"><img src="../assets/images/logo/logo.svg" alt=""></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6  d-none d-lg-block">
                      
                        <div class="header__navigation d-none d-lg-block">
                            <nav class="navigation-menu">
                                <ul class="justify-content-center">
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="#"><span>Главная</span></a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#"><span>Каталог</span></a>
                                    </li>
                                    <li class="has-children has-children--multilevel-submenu">

                                        <a href="#"><span>Партнеры</span></a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-lg-3 col-6">
                        <div class="header-right-side text-right">
                           
                            <div class="header-right-items">
                                <router-link :to="{name:'cart'}" class=" header-cart minicart-btn toolbar-btn header-icon">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="item-counter">{{user_products_count}}</span>
                                </router-link>
                            </div>
                            
                            <div class="header-right-items">
                                <a href="#" class="mobile-navigation-icon" id="mobile-menu-trigger">
                                    <i class="icon-menu"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">

            <!-- Hero Slider Area Start -->
            <div class="hero-area hero-slider-five">
                <div class="single-hero-slider-five">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-content-wrap">
                                    <div class="hero-text-five mt-lg-5">
                                        <h6 class=" mb-30 small-title">
                                            КОЛЛЕКЦИЯ <br> СТУЛ <br> 2021
                                        </h6>
                                        <h1>Стул Шанель <br> Высокого качества</h1>
                                        
                                    </div>
                                    <div class="inner-images">
                                        <div class="image-one">
                                            <img src="../assets/images/hero/home-full-width-2.png" class="img-fluid" alt="Image">
                                        </div>
                                        <div class="image-two">
                                            <img src="../assets/images/hero/home-full-width-4.png" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrapper section-space--ptb_120">
                <div class="container">


                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="section-title text-lg-left text-center mb-20">
                                <h3 class="section-title">Каталог</h3>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="nav product-tab-menu justify-content-lg-end justify-content-center" role="tablist">
                                <li class="tab__item nav-item" v-for="(category,index) in categories" :key='index' :style="selected_category==category.id?'color:#dcb14a':''" 
                                    @click="selected_category=category.id">
                                    <a class="nav-link" data-toggle="tab" href="javascript:void(0)" role="tab">{{category.name}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-content mt-30">
                        <div class="tab-pane fade show active" id="tab_list_01">
                            <div class="row product-slider-active">
                                <div class="col-lg-3" v-for="(product,index) in products" :key='index'>
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img :src="'/images/'+product.images[0]" class="img-fluid" alt="Product Images" style="height:16rem">

                                                <span class="ribbon onsale" v-if="product.discount!=0">
                                                    -{{product.discount}}%
                                                </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href='javascript:void(0)' @click="addToBasket(product)"><i class="fas fa-shopping-basket"></i> <span class="tool-tip">Добавить в корзину</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">{{product.name}}</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price" style="text-decoration-line: line-through" v-if="product.discount!=0">({{product.price}} тг)</span> <span class="old-price"> {{product.price_discount}} тг</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                

                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <!-- Product Area End -->

            <!-- Offer Colection Area Start -->
            <div class="offer-colection-area">
                <div class="section-space--ptb_120 bg-img" :style="{backgroundImage:'url('+image+')'}">
                    <div class="container">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7 col-md-9">
                                        <div class="colection-info-wrap">
                                            <div class="section-title mb-10">
                                                <h2 class="h-lg"><span class="text-red">50% СКИДКА</span> на коллекцию интерьеров</h2>
                                            </div>
                                            <p class="font-lg-p">Бесплатная доставка на сумму свыше 10 000 тенге в другие города.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offer Colection Area End -->


            <!-- Our Brand Area Start -->
            <div class="our-brand-area section-space--pb_90" style="margin-top:2rem">
                <div class="container">
                    <div class="row brand-slider-active">
                        <div class="col-lg-12">
                            <div class="section-title text-center mb-20">
                                <h3 class="section-title">Партнеры</h3>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-brand-item">
                                <a href="#"><img src="../assets/images/brand/partner1.jpg" class="img-fluid" alt="Brand Images"></a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-brand-item">
                                <a href="#"><img src="../assets/images/brand/partner2.jpg" class="img-fluid" alt="Brand Images"></a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-brand-item">
                                <a href="#"><img src="../assets/images/brand/partner3.jpg" class="img-fluid" alt="Brand Images"></a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-brand-item">
                                <a href="#"><img src="../assets/images/brand/partner4.jpg" class="img-fluid" alt="Brand Images"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Brand Area End -->

        </div>

        <div class="footer-area-wrapper reveal-footer bg-gray" style="position:relative">
            <div class="footer-area section-space--ptb_90">
                <div class="container-fluid container-fluid--cp-100">
                    <div class="row footer-widget-wrapper">
                        <div class="col-lg-3 col-md-3 col-sm-6 footer-widget">
                            <div class="footer-widget__logo mb-20">
                                <a href="#"><img src="../assets/images/logo/logo.svg" alt=""></a>
                            </div>
                            <ul class="footer-widget__list">
                                <li><i class="fas fa-map-marker-alt"></i> Алматы 2021</li>
                                <li><i class="fas fa-phone-alt"></i><a href="tel:846677028028" class="hover-style-link">+777 777 77 77</a></li>

                            </ul>
                            
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6 footer-widget">
                            <ul class="list footer-social-networks mt-25">

                                <li class="item">
                                    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 col-sm-6 footer-widget">
                            <h6 class="footer-widget__title mb-20">Письмо</h6>
                            <div class="footer-widget__newsletter mt-30">
                                <input type="text" placeholder="Напишите нам письмо" v-model="message">
                                <button class="submit-button" @click="sendToPost" :disabled='message==null'><i class="icon-arrow-right"></i>Отправить</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!-- Modal -->
    <div class="product-modal-box modal fade" id="prodect-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cross" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="quickview-product-active mr-lg-5">
                                <a href="#" class="images">
                                    <img src="../assets/images/product/2-570x570.jpg" class="img-fluid" alt="">
                                </a>
                                <a href="#" class="images">
                                    <img src="../assets/images/product/3-600x600.jpg" class="img-fluid" alt="">
                                </a>
                                <a href="#" class="images">
                                    <img src="../assets/images/product/4-768x768.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <!-- Thumbnail Large Image End -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="product-details-content quickview-content-wrap ">

                                <h5 class="font-weight--reguler mb-10">Teapot with black tea</h5>
                                <div class="quickview-ratting-review mb-10">
                                    <div class="quickview-ratting-wrap">
                                        <div class="quickview-ratting">
                                            <i class="yellow icon_star"></i>
                                            <i class="yellow icon_star"></i>
                                            <i class="yellow icon_star"></i>
                                            <i class="yellow icon_star"></i>
                                            <i class="yellow icon_star"></i>
                                        </div>
                                        <a href="#"> 2 customer review</a>
                                    </div>
                                </div>
                                <h3 class="price">£59.99</h3>

                                <div class="stock in-stock mt-10">
                                    <p>Available: <span>In stock</span></p>
                                </div>

                                <div class="quickview-peragraph mt-10">
                                    <p>At vero accusamus et iusto odio dignissimos blanditiis praesentiums dolores molest.</p>
                                </div>


                                <div class="quickview-action-wrap mt-30">
                                    <div class="quickview-cart-box">
                                        <div class="quickview-quality">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                            </div>
                                        </div>

                                        <div class="quickview-button">
                                            <div class="quickview-cart button">
                                                <a href="product-details.html" class="btn--lg btn--black font-weight--reguler text-white">Add to cart</a>
                                            </div>
                                            <div class="quickview-wishlist button">
                                                <a title="Add to wishlist" href="#"><i class="icon-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="product_meta mt-30">
                                    <div class="sku_wrapper item_meta">
                                        <span class="label"> SKU: </span>
                                        <span class="sku"> 502 </span>
                                    </div>
                                    <div class="posted_in item_meta">
                                        <span class="label">Categories: </span><a href="#">Furniture</a>, <a href="#">Table</a>
                                    </div>
                                    <div class="tagged_as item_meta">
                                        <span class="label">Tag: </span><a href="#">Pottery</a>
                                    </div>
                                </div>

                                <div class="product_socials section-space--mt_60">
                                    <span class="label">Share this items :</span>
                                    <ul class="helendo-social-share socials-inline">
                                        <li>
                                            <a class="share-twitter helendo-twitter" href="#" target="_blank"><i class="social_twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-facebook helendo-facebook" href="#" target="_blank"><i class="social_facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-google-plus helendo-google-plus" href="#" target="_blank"><i class="social_googleplus"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-pinterest helendo-pinterest" href="#" target="_blank"><i class="social_pinterest"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-linkedin helendo-linkedin" href="#" target="_blank"><i class="social_linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->

    <!-- Modal -->
    <div class="header-login-register-wrapper modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-box-wrapper">
                    <div class="helendo-tabs">
                        <ul class="nav" role="tablist">
                            <li class="tab__item nav-item active">
                                <a class="nav-link active" data-toggle="tab" href="#tab_list_06" role="tab">Login</a>
                            </li>
                            <li class="tab__item nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab_list_07" role="tab">Our Register</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content content-modal-box">
                        <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                            <form action="#" class="account-form-box">
                                <h6>Login your account</h6>
                                <div class="single-input">
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="single-input">
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="checkbox-wrap mt-10">
                                    <label class="label-for-checkbox inline mt-15">
                                        <input class="input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                    </label>
                                    <a href="#" class=" mt-10">Lost your password?</a>
                                </div>
                                <div class="button-box mt-25">
                                    <a href="#" class="btn btn--full btn--black">Log in</a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_list_07" role="tabpanel">

                            <form action="#" class="account-form-box">
                                <h6>Register An Account</h6>
                                <div class="single-input">
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="single-input">
                                    <input type="text" placeholder="Email address">
                                </div>
                                <div class="single-input">
                                    <input type="password" placeholder="Password">
                                </div>
                                <p class="mt-15">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                <div class="button-box mt-25">
                                    <a href="#" class="btn btn--full btn--black">Register</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="header-login-register-wrapper modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-box-wrapper">
                    <div class="helendo-tabs">
                        <ul class="nav" role="tablist">
                            <li class="tab__item nav-item active">
                                <a class="nav-link active" data-toggle="tab" href="#tab_list_06" role="tab">Login</a>
                            </li>
                            <li class="tab__item nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab_list_07" role="tab">Our Register</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content content-modal-box">
                        <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                            <form action="#" class="account-form-box">
                                <h6>Login your account</h6>
                                <div class="single-input">
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="single-input">
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="checkbox-wrap mt-10">
                                    <label class="label-for-checkbox inline mt-15">
                                        <input class="input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                    </label>
                                    <a href="#" class=" mt-10">Lost your password?</a>
                                </div>
                                <div class="button-box mt-25">
                                    <a href="#" class="btn btn--full btn--black">Log in</a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_list_07" role="tabpanel">

                            <form action="#" class="account-form-box">
                                <h6>Register An Account</h6>
                                <div class="single-input">
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="single-input">
                                    <input type="text" placeholder="Email address">
                                </div>
                                <div class="single-input">
                                    <input type="password" placeholder="Password">
                                </div>
                                <p class="mt-15">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                <div class="button-box mt-25">
                                    <a href="#" class="btn btn--full btn--black">Register</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====================  mobile menu overlay ====================-->
    
    <!--====================  End of mobile menu overlay  ====================-->



    <!--  offcanvas Minicart Start -->
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
            <div class="close-btn-box">
                <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
            </div>
            <div class="minicart-content">
                <ul class="minicart-list">
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="../assets/images/product/small/cart-01.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="product-details.html">Plant pots</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="../assets/images/product/small/cart-02.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="product-details.html">Teapot with black tea</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="../assets/images/product/small/cart-03.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="product-details.html">Simple fds</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="minicart-item_total">
                <span class="font-weight--reguler">Subtotal:</span>
                <span class="ammount font-weight--reguler">$60.00</span>
            </div>
            <div class="minicart-btn_area">
                <a href="cart.html" class="btn btn--full btn--border_1">View cart</a>
            </div>
            <div class="minicart-btn_area">
                <a href="checkout.html" class="btn btn--full btn--black">Checkout</a>
            </div>
        </div>

        <div class="global-overlay"></div>
    </div>
    <!--  offcanvas Minicart End -->


    <!--====================  search overlay ====================-->
    
</div>    
</template>
<script type="text/javascript">
import {cartBus} from '../app'
import productPage from './product.vue'
var CryptoJS = require("crypto-js");
export default{
    data(){
        return{
            image:"'/images/banner_large.jpg'",
            categories:[],
            products:[],
            selected_category:'',
            user_products_count:0,
            message:null
        }
    },
    watch:{
        selected_category:function(newVal){
            if(newVal>0){
                this.$http.get('/api/product/'+newVal).then(
                    response=>{
                        this.products=response.body.data.products
                    }
                )
            }
        }
    },
    methods:{
        setup(){
            this.$http.get('/api/category').then(
                response=>{
                    this.categories=response.body.data.categories
                    if(this.categories.length>0){
                        this.selected_category=this.categories[0].id
                    }
                }
            )
            if(localStorage.getItem('products')===null){
                localStorage.setItem('products',CryptoJS.AES.encrypt(JSON.stringify([]),'to_basket'))
            }
        },
        addToBasket(product){
            this.$modal.show(
                productPage,
                {
                    product: product
                },
                {
                    height: "auto",
                    width: "80%",
                    pivotY: 0.2,
                    clickToClose: true,
                    scrollable: true
                },
                {
                    "before-close": event => {
                        
                    }
                }
            );
        },
        sendToPost(){
            this.$http.post('/api/send-post',{message:this.message}).then(
                response=>{
                    console.log(response)
                }
            )
        }
        
    },
    created(){
        
        this.setup()
        cartBus.$on('cart',data=>{
            this.user_products_count=data.products.length
        })
        var basket = JSON.parse(
            CryptoJS.AES.decrypt(
                localStorage.getItem("products"),
                'to_basket'
            ).toString(CryptoJS.enc.Utf8)
        );
        if(basket!==null&&basket.length!=0){
            this.user_products_count=basket.length
        }
    }
    
}
</script>

