<template>
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">

            <div class="single-product-wrap section-space--pt_90 border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">

                            <!-- Product Details Left -->
                            <div class="product-details-left">
                                <div class="product-details-images-2 slider-lg-image-2">

                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="../assets/images/product/single-product-01.jpg" class="poppu-img">
                                                <img :src="'/images/'+active_image" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="product-details-thumbs-2 slider-thumbs-2">
                                    <div class="sm-image" v-for="(image,index) in product.images" :key='index'><img :src="'/images/'+image" alt="product image thumb" style="width:100px;height:100px"></div>
                                </div>
                            </div>
                            <!--// Product Details Left -->

                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <div class="product-details-content ">

                                <h5 class="font-weight--reguler mb-10">{{product.name}}</h5>

                                <h3 class="price"><span style="text-decoration-line: line-through">({{product.price}} тг)</span>  <span>{{product.price_discount}} тг</span></h3>
                                <!--
                                <div class="product-size-wrapper mt-20">
                                    <div class="tab-content d-flex">
                                        <label class="mr-2">Size</label>
                                        <div class="tab-pane fade show active" id="tab_list_l">
                                            L
                                        </div>
                                        <div class="tab-pane fade" id="tab_list_m">
                                            M
                                        </div>
                                        <div class="tab-pane fade" id="tab_list_s">
                                            S
                                        </div>
                                    </div>

                                    <ul class="nav product-size-menu" role="tablist">

                                        <li class="tab__item nav-item active">
                                            <a class="nav-link active" data-toggle="tab" href="#tab_list_l" role="tab">L</a>
                                        </li>
                                        <li class="tab__item nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab_list_m" role="tab">M</a>
                                        </li>
                                        <li class="tab__item nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab_list_s" role="tab">S</a>
                                        </li>

                                    </ul>
                                </div>
                                

                                <div class="product-color-wrapper mt-20">
                                    <div class="tab-content d-flex">
                                        <label class="mr-2">Color </label>
                                        <div class="tab-pane fade show active" id="tab_list_black">
                                            Black
                                        </div>
                                        <div class="tab-pane fade" id="tab_list_white">
                                            White
                                        </div>
                                    </div>

                                    <ul class="nav product-color-menu" role="tablist">
                                        <li class="tab__item nav-item active">
                                            <a class="nav-link active" data-toggle="tab" href="#tab_list_black" role="tab"></a>
                                        </li>
                                        <li class="tab__item nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab_list_white" role="tab"></a>
                                        </li>
                                    </ul>

                                </div>
                                -->

                                
                                <div class="quickview-action-wrap mt-20">
                                    <h6>Сколько штук вам надо?</h6>
                                    <div class="quickview-cart-box" style="margin-top:5px">
                                        
                                        <div class="quickview-quality">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" type="number" v-model='user_product_count'>
                                            </div>
                                        </div>

                                        <div class="quickview-button">
                                            <div class="quickview-cart button">
                                                <button type="button" style="border:none" class="btn--lg btn--black font-weight--reguler text-white"
                                                @click="addToBasket">Добавить в корзину</button>
                                            </div>
                                            <!--
                                            <div class="quickview-wishlist button">
                                                <a title="Add to wishlist" href="#"><i class="icon-heart"></i></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>

                                </div>
                                <!--
                                <div class="product_meta mt-30">
                                    <div class="sku_wrapper item_meta">
                                        <span class="label"> SKU: </span>
                                        <span class="sku"> 502 </span>
                                    </div>
                                    <div class="posted_in item_meta">
                                        <span class="label">Categories: </span><a href="#">Furniture</a>, <a href="#">Table</a>
                                    </div>
                                    <div class="tagged_as item_meta">
                                        <span class="label">Tag: </span><a href="#">Pottery</a>
                                    </div>
                                </div>
                                
                                <div class="product_socials section-space--mt_60">
                                    <span class="label">Share this items :</span>
                                    <ul class="helendo-social-share socials-inline">
                                        <li>
                                            <a class="share-twitter helendo-twitter" href="#" target="_blank"><i class="social_twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-facebook helendo-facebook" href="#" target="_blank"><i class="social_facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-google-plus helendo-google-plus" href="#" target="_blank"><i class="social_googleplus"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-pinterest helendo-pinterest" href="#" target="_blank"><i class="social_pinterest"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-linkedin helendo-linkedin" href="#" target="_blank"><i class="social_linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--====================  footer area ====================-->
        
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import {cartBus} from '../app' 
export default {
    props:['product'],
    data(){
        return{
            active_image:'',
            user_product_count:0
        }
    },
    methods:{
        addToBasket(){
            var CryptoJS = require("crypto-js");
            this.product.user_product_count=this.user_product_count
            var products=[]
            if(JSON.parse(CryptoJS.AES.decrypt(localStorage.getItem("products"),'to_basket').toString(CryptoJS.enc.Utf8)).length!=0){
                products=JSON.parse(
                    CryptoJS.AES.decrypt(
                        localStorage.getItem("products"),
                        'to_basket'
                    ).toString(CryptoJS.enc.Utf8)
                );
            }
            
            if(products.find(element=>element.id==this.product.id)){
                var product=products.find(element=>element.id==this.product.id)
                product.user_product_count = parseInt(product.user_product_count) + parseInt(this.user_product_count)
            }
            else{
                products.push(this.product)
            }
            var to_basket = CryptoJS.AES.encrypt(JSON.stringify(products),'to_basket');
            localStorage.setItem('products',to_basket)
            cartBus.$emit('cart',{products:products})
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Добавлено в корзину!',
                showConfirmButton: false,
                timer: 3000
            })
            this.$emit('close')
        }
    },
    created(){
        this.active_image=this.product.images[0]
    }
}
</script>
