<template>
<div class="row">
    <div class="col-lg-8">
        <form>
            <div class="form-group">
                <label for="name">Имя товара</label>
                <input type="text" class="form-control" id="name" v-model="getProduct.name">
            </div>
            <div class="form-group">
                <label for="category">Категория товара</label>
                <select class="form-control" id="category" v-model="getProduct.category_id">
                    <option v-for="(category,index) in getCategories" :key='index' :value="category.id">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="count">Количество товаров</label>
                <input type="number" class="form-control" id="count" v-model="getProduct.count">
            </div>
            <div class="form-group">
                <label for="price">Цена товара</label>
                <input type="number" class="form-control" id="price" v-model="getProduct.price">
            </div>
            <div class="form-group">
                <label for="discount">Скидка в проценте</label>
                <input type="number" class="form-control" id="discount" v-model="getProduct.discount">
            </div>
            <div class="form-group">
                <label for="discountprice">Цена со скидкой</label>
                <input type="number" class="form-control" id="discountprice" v-model="getProduct.discountprice" :disabled='true'>
            </div>
            <div class="form-group" v-for='(image,index) in getProduct.images' :key='index'>
                <img  :src='"/images/"+image.image'  style="width:50%;height:50%">
                <button class="btn btn-danger" type='button' @click.prevent="deleteImage(index)">Удалить картинку</button>
            </div>
            
            <div class="form-group">
                <label for="image">Добавить картинки товара</label>
                <input type="file" class="form-control" id="image" multiple @change="imageChanged" />
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="send">Сохранить</button>
        </form>
    </div>
</div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    data(){
        return {
            addedImages:[]
        }
    },
    computed: mapGetters(["getCategories","getProduct"]),
    watch:{
        'getProduct.discount':function(newVal){
            if(newVal>=0&&this.getProduct.price>0){
                this.getProduct.discountprice=parseInt(this.getProduct.price-(this.getProduct.price*this.getProduct.discount)/100)
            }
        },
        'getProduct.price':function(newVal){
            if(newVal>=0&&this.getProduct.discount>0){
                this.getProduct.discountprice=parseInt(newVal-(newVal*this.getProduct.discount)/100)
            }
        },
    },
    methods:{
        imageChanged(e) {
            for (var i = 0; i < e.target.files.length; i++) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(e.target.files[i]);
                fileReader.onload = e => {
                    this.addedImages.push(e.target.result);
                };
            }
        },
        send(){
            this.getProduct.addedImages=this.addedImages
            console.log(this.getProduct)
            this.$store.dispatch('editProduct',{product:this.getProduct})
        },
        deleteImage(index){
            this.getProduct.images.splice(index,1)
        }
    },
    created(){
        this.$store.dispatch('getProduct',{id:this.$route.params.id})
        this.$store.dispatch('getCategories')
    }
}
</script>
