<template>
    <div class="category p-3">
        <div class="row">
            <div class="col-lg-10">
                <input type="text" class="form-control" v-model="category.name" >
            </div>
            <div class="col-lg-2" >
                 <button type="submit" class="btn btn-primary" @click.prevent='send'>Сохранить</button>
            </div>
        </div>
    </div>
</template>
<script>
import Alert from '../../packages/alert'
export default {
   props:['category'],
   methods:{
       send(){
           this.$http.post('/api/admin/update-category',{category:this.category}).then(
                response=>{
                    if(response.body.success){
                        Alert.success('Категория успешно изменена')
                        this.$emit('close')    
                    }else{
                        Alert.warning(response.body.message)
                    }
                }
            )
       }
   }
}
</script>
