<template>
<div>
<input type='text' v-model='user.username'>
<input type='password' v-model='user.password'>
<button @click.prevent='submit'>Login</button>
</div>
</template>
<script>
export default{
    data(){
        return{
            user:{
                username:'',
                password:'',
                role:'admin'
            }
        }
    },
    methods:{
        submit(){
            console.log(this.user)
            
            this.$http.post('/api/login',{user:this.user}).then(
                response=>{
                    if(response.body.success){
                        console.log(response)
                        this.$auth.emplogin(
                            response.body.data.access_token, 
                            response.body.data.expires_in + Date.now(), 
                            response.body.data.token_type, 
                            this.user.role, 
                            response.body.data.user,
                            response.body.data.access
                        )
                        window.location.replace(this.$auth.getPathTo())
                        
                    }
                }
            )
            
        }
    }
}
</script>