<template>
<div>
<input type='text' v-model='user.username'>
<input type='password' v-model='user.password'>
<button @click.prevent='submit'>CLick</button>
</div>
</template>
<script>
export default{
    data(){
        return{
            user:{
                username:'',
                password:'',
                role:'admin'
            }
        }
    },
    methods:{
        submit(){
            console.log(this.user)
            
            this.$http.post('/api/register').then(
                response=>{
                    console.log(response)
                }
            )
            
        }
    }
}
</script>